<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>tinad</display-name>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
 
    <listener>
        <listener-class>com.wbz.tinad.config.InitialisationDaoFactory</listener-class>
    </listener>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
   
    <servlet> 
        <servlet-class> com.wbz.tinad.servlets.Inscription</servlet-class> 
        <servlet-name>Inscription</servlet-name> 
    </servlet> 

    <servlet-mapping> 
        <servlet-name>Inscription</servlet-name> 
        <url-pattern>/Inscription </url-pattern>
    </servlet-mapping> 
    
    <servlet>
        <servlet-class>com.wbz.tinad.servlets.Connexionfront</servlet-class>
        <servlet-name>Connexionfront</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>Connexionfront</servlet-name>
        <url-pattern>/Connexionfront</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-class>com.wbz.tinad.servlets.Membres</servlet-class>
        <servlet-name>Membres</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>Membres</servlet-name>
        <url-pattern>/Membres</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-class>com.wbz.tinad.servlets.Deconnexion</servlet-class>
        <servlet-name>Deconnexion</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>Deconnexion</servlet-name>
        <url-pattern>/Deconnexion</url-pattern>
    </servlet-mapping>
    <servlet> 
        <servlet-class> com.wbz.tinad.servlets.Publication</servlet-class> 
        <servlet-name>Publication</servlet-name> 
    </servlet> 
    <servlet> 
        <servlet-class> com.wbz.tinad.servlets.Connexion</servlet-class> 
        <servlet-name>Connexion</servlet-name> 
    </servlet> 
    <servlet> 
        <servlet-class> com.wbz.tinad.servlets.Profil</servlet-class> 
        <servlet-name>Profil</servlet-name> 
    </servlet> 
  
    <servlet-mapping> 
        <servlet-name>Publication</servlet-name> 
        <url-pattern>/Publication </url-pattern>
    </servlet-mapping> 
    <servlet-mapping> 
        <servlet-name>Profil</servlet-name> 
        <url-pattern>/Profil </url-pattern>
    </servlet-mapping> 
    <servlet-mapping> 
        <servlet-name>Connexion</servlet-name> 
        <url-pattern>/Connexion </url-pattern>
    </servlet-mapping> 
    
    <servlet>
        <servlet-class>com.wbz.tinad.servlets.Telecharge</servlet-class>
        <servlet-name>Telecharge</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>Telecharge</servlet-name>
        <url-pattern>/Telecharge</url-pattern>
    </servlet-mapping>
</web-app>
